.form {
  max-width: 300px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form input {
  height: 25px;
}

.btn {
  display: block;
  max-width: 120px;
  height: 30px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.errorMessage {
  color: rgb(197, 90, 90);
}
